@media only screen and (min-width: 60rem) {
  

  header h1 {
    font-size: 2rem;
  }

 
  #senator-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto; 
  }

  .card img {
    width: 140px;
    height: 140px;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.1rem;
    padding: 14px 20px;
  }


  footer {
    font-size: 1.1rem;
    padding: 1.5rem;
  }
} 