@media only screen and (min-width: 35rem) {
 

  header h1 {
    font-size: 1.75rem;
  }

  button {
    font-size: 1rem;
    padding: 12px 18px;
  }

  
  #senator-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
  }

  
  .card img {
    width: 120px;
    height: 120px;
  }

  .card h3 {
    font-size: 1.1rem;
  }

  footer {
    font-size: 1rem;
  }
} 