/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
     background-color: #97B1D2;
}

header {
    display: grid;
    grid-template-columns: auto 42px;
    background-color: #F4B05C;
}

header span:nth-child(2) {
    padding: .5rem;
}

#town {
    padding: .5rem;
    text-align: center;       
    color: #FD2399;           
    font-size: 2rem;           
    font-weight: bold;         
    margin: 1rem 0;            
}

aside {
    display: none;
}

aside.show {
    display: block;
    position: absolute;
    top: 70px;
    left: 10px;
    right: 10px;
    height: 400px;
    padding: 1rem 2vw;
    border-radius: 20px;
    background-color: rgba(244, 176, 92, 0.95);
    color: #FD2399;
    text-align: center;
    box-shadow: 0 0 10px black;
}

aside p {
    font-size: 1.1rem;
    font-weight: 500;
}

.date {
    text-align: center;       
    font-size: 3rem;      
    margin: 1rem 0;          
    color: #FD2399;          
}


.temperature {
    display: block;         
    margin: 0.5rem auto;     
    text-align: center;     
    font-size: 3rem;      
    font-weight: bold;      
    color: #FD2399;        
}

.weather-icon {
    display: block;
    margin: 0.5rem auto;
    width: 100px;
    height: 100px;
}

.humidity {
    font-size: 1.5rem;           
    font-weight: 500;         
    color: black;           
    text-align: center;      
    margin: 0.5rem 0;         
}

.max-temperature {
    font-size: 1.5rem;         
    font-weight: bold;          
    color: black;            
    text-align: center;       
    margin: 0.5rem 0;          
}

.min-temperature {
    font-size: 1.5rem;           
    font-weight: bold;          
    color: black;            
    text-align: center;       
    margin: 0.5rem 0;         
}

.wind-speed {
    font-size: 1.5rem;          
    font-weight: bold;          
    color: black;            
    text-align: center;       
    margin: 0.5rem 0;        
}

#parentTag {
    display: flex;
    flex-direction: column;   
    align-items: center;        
    justify-content: flex-start;
    gap: 0.5rem;               
}

footer {
    background-color: #97B1D2;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #F4B05C;
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    font-weight: 500;
}